Leosac Web Interface

{{outlet}}

<br>
{{#link-to "about"}}About{{/link-to}} <br>

Version: {{globalInfo.user_id}} <br>

<ul>
  {{#each model as |user|}}
      <li>
        {{user.username}} -- {{user.firstname}}
      </li>
  {{/each}}
</ul>

{{login-form}}